extend common/layout

block main

	// This is an example of a Jade mixin.
	+tout('austin')
		h1.white Sonos Suit Starter Template
		h4.subheader.white
			| This starter template will help you easily prototype static HTML pages with Sonos Suit, Jade, Sass,
			| and Grunt.

	.section
		.row
			.columns.small-12
				h2 Using the template
				hr
				p
					| Due to the amount of conveniences Github affords us, this project assumes you're familiar with Github and
					| have an account.
				p
					| The purpose of this project is to help you rapidly generate HTML prototypes with Sonos Suit. The project
					| leverages <a href="http://jade-lang.com/">Jade</a> for HTML pre-processing (it's faster to write),
					| <a href="http://sass-lang.com/">Sass</a> and Grunt for building and minifying styles and scripts. If you
					| have questions, or need help, please reach out to <a href="mailto:suit@sonos.com">suit@sonos.com</a>.
				h2 Viewing Your Prototype
				hr
				p
					| When you run the project on your local machine, you'll have access to your prototype at <code>localhost:3000</code>,
					| which is great for you, but not for anyone else. In order for your pages to be viewed publicly, you'll need
					| to put them on a server.
				p
					| Github has a pretty simple way to do this with <a href="https://pages.github.com/">Github Pages</a>. Let's
					| say you forked this repo in to your own account. This fork will have two branches: <code>master</code> and
					| <code>gh-pages</code>. If you go to <a href="http://zdfs.github.io/sonos-suit-prototyping-kit/public/</a>,
					| you'll be able to view the generated HTML for this project. If you've forked this repo, your pages will
					| will be viewable at <code>http://[your-account].github.io/sonos-suit-prototyping-kit/public</code>. Just
					| make sure that the <code>homepage<code> field in your <code>package.json</code> is pointing to your
					| Github account.
				p
					| To update the pages on the Github url, be sure to run <code>grunt deploy</code> and commit the changes to
					| your repo. After the changes are synced, do a <a href="https://help.github.com/articles/using-pull-requests/">
					| pull request</a> using <code>gh-pages</code> branch as your <b>base</b>. Complete the pull request and your
					| pages will soon be live at your <code>github.io</code> url.
				p
					| If you want to use your own server, you can do so. Just update whatever the url is to your own server in
					| the <code>package.json</code> and run <code>grunt deploy</code>. You can then take the generated HTML files
					| and upload them to the FTP server of your choice.
				hr
				p
					| You can create new pages for your prototype simply by creating your own <code>.jade</code> files in the 'views'
					| folder. Nested folders and views are supported and encouraged for hierarchy. If you create views while your server
					| is running, be sure to restart the server.
				p
					| Suit patterns which you can leverage are <a href="http://static.sonos.com/v2/live/" target="_blank">available here</a>.
				h2 LiveReload
				hr
				p
					| This project supports LiveReload, which you can activate by running <code>grunt watch</code> in a separate
					| terminal window. Be sure to have the browser extension installed.

