nav.top-bar.sonos-bar(data-topbar, data-options="is_hover: false; back_text: <span class='icon-left-dir'></span> Back;")
	ul.title-area
		li.name
			h1
				a Sonos
		li.toggle-topbar.menu-icon
			a
				span Menu